
body{
    font-family: "Poppins", sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  20px;
}


.menu{
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.menu li{
    list-style: none;
}


.carousel{
    position: relative;
    width: 80%;
    margin: 50px auto;
    overflow: visible;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.carousel-wrapper{
    overflow: hidden;
    width: 1100px;
    margin: 0 auto;
}

.carousel-container{
    display: flex;
    transition: transform 0.5s ease;
}


.slide{
    width: 1100px;
    flex-shrink: 0;
}



.prev,
.next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    z-index: 10;
}

.prev{
    left: 0px;
}

.next{
    right: 0px;
}

.prev:hover,
.next:hover{
    background-color: rgba(0,0,0,0.8);
}


.informacion{
    margin-left: 90px;
    margin-right: 90px;
    padding: 30px;
    display: flex;
    background-color: rgb(223, 223, 223);
}

.text-container{
    margin: 80px;
}

.imagei{
    border-radius: 10px;
}